nav {
  display: flex;
  background-color: #ff3040;
  width: 100vw;
  height: 16vh;
  margin: 0;
  padding: 0;
}

nav h2:hover {
  color: #0d1a2b;
}

nav h2 {
  transition-duration: 0.5s;
  cursor: pointer;
}

.logo {
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 30px;
}

#logo {
  margin-left: 10vh;
}

nav-links {
  display: flex;
  gap: 10vh;
  align-items: center;
  margin-left: 11%;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-size: 3vh;
  color: white;
  flex-shrink: 1;
}

nav-links a {
  transition-duration: 0.5s;
}

nav-links a:hover {
  color: #0d1a2b;
}

a:link {
  text-decoration: none;
  color: white;
}

body {
  margin: 0;
  background-color: #1f1f1f;
}

#menu {
  font-size: 4.5vh;
  margin-left: 11%;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s;
  cursor: pointer;
}

#menu:hover {
  color: #0d1a2b;
}

h1 {
  font-size: 90px;
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  text-align: center;
  margin-top: 10vh;
}

main img {
  width: 350px;
  margin-top: 65px;
  margin-left: 185px;
  box-shadow: #fd0156 0px 5px 15px;
}

main h1 {
  margin-left: 325px;
  margin-top: -450px;
}

main p {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  margin-left: 695px;
  color: #ff3040;
  font-size: 25px;
  margin-top: -30px;
  margin-right: 95px;
}

footer {
  width: 100%;
  background-color: #ff3040;
  margin-top: 62px;
}

footer h2 {
  color: white;
  padding-top: 20px;
  transition-duration: 0.5s;
  text-align: center;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-size: 35px;
}

footer h2:hover {
  color: #0d1a2b;
}

footer h3 {
  color: #0d1a2b;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  text-align: center;
  margin-top: -10px;
  padding: 1px;
  transition-duration: 0.5s;
}

footer h3:hover {
  color: white;
}

footer li {
  text-align: center;
  padding: 5px;
  font-size: 20px;
  list-style: none;
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-left: -25px;
}

footer a {
  color: white;
  transition-duration: 0.5s;
}

footer a:hover {
  color: #0d1a2b;
}

footer p {
  font-size: 18px;
  text-align: center;
  color: #0d1a2b;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  padding-bottom: 20px;
  transition-duration: 0.5s;
}

footer p:hover {
  color: white;
}
